<% tabindex_on '#search_field' %>

<% cache_if(@perform_caching, CacheObserver.daily_key_for("events_index", request)) do %>
<div class="content-left large-9 columns">
  <h2>Viewing <%= @events.size %>
  <%= params[:date] ? 'filtered' : 'future' %> events
  <%= events_sort_label(params[:order]) %></h2>

  <%= render :partial => 'events/table', :locals => { :events => @events } %>
</div>
<% end %>

<aside id="list_filters" class="large-3 columns">
  
  <h3 class='first'>Filter by date</h3>

  <%= form_tag events_url, :method => 'get', :id => "date_filter" do  -%>
    <div id='start_calendar'>
      <label for='date_start'>From</label>
      <%= text_field_tag 'date[start]', @start_date.strftime('%Y-%m-%d'), :id => 'date_start', :class => 'date_picker' %>
    </div>
    <div id='end_calendar'>
      <label for='date_end'>To</label>
      <%= text_field_tag 'date[end]', @end_date.strftime('%Y-%m-%d'), :id => 'date_end', :class => 'date_picker' %>
    </div>
    <div>
      <%= submit_tag 'Filter' %>
      <span class="clear_filter"><%= link_to 'Reset', events_url %></span>
    </div>
  <% end %>
  
  <h3>Subscribe to</h3>
  <ul>
    <li><%= link_to "iCalendar feed", icalendar_feed_link %></li>
    <li><%= link_to "Atom feed", atom_feed_link %></li>
    <li><%= link_to "Google Calendar", google_events_subscription_link %></li>
  </ul>

  <h3>Export to</h3>
  <ul>
    <li><%= link_to "iCalendar file", icalendar_export_link %></li>
  </ul>
</aside>