<h1>Editing source</h1>

<%= semantic_form_for(@source) do |f| %>
  <%= f.inputs do %>
    <%= f.input :url %>
    <%= f.input :reimport, :label => "Re-import?" %>
  <% end %>
  <%= f.actions :submit %>
<% end %>

<%= link_to 'Show', @source %> |
<%= link_to 'Back', sources_path %>
