<h1>Listing sources</h1>

<table>
  <tr>
    <th>Manage</th>
    <th>URL</th>
  </tr>

  <% for source in @sources %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td>
      <%= link_to 'Show', source %> | 
      <%= link_to 'Destroy', source, :confirm => 'Are you sure?', :method => :delete %>
    </td>
    <td><%= source_url_link source %></td>
  </tr>
  <% end %>
</table>

<br />

<%= will_paginate @versions %>
