<h1>Listing sources</h1>

<table>
  <tr>
    <th>Url</th>
  </tr>

<% for source in @sources %>
  <tr>
    <td><%=h source.url %></td>
    <td><%= link_to 'Show', source %></td>
    <td><%= link_to 'Edit', edit_source_path(source) %></td>
    <td><%= link_to 'Destroy', source, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New source', new_source_path %>
