<% form_for(@source) do |f| %>
<fieldset>
  <legend>Import a source</legend>
  <div>
		<%= f.label :url, "URL" %>
	  <%= f.text_field :url, :size => 60, :value => params[:url] %>
	</div>
  <div>
	  <%= f.label :format_type, "Format type" %>
    <% is_first = true %>
    <% for format_type, format_label in SourceParser.formats_to_labels %>
      <%= f.radio_button "format_type", format_type, :checked => is_first %>
      <%= f.label "format_type_#{format_type.to_s.downcase}", format_label, :class => 'checkbox' %>
      <% is_first = false  %>
    <% end %>
	</div>
	<div class='no_label'>
        <%= f.submit %>
	</div>
	<div class='help'>
				<p>
        Example URLS:<br />
        hCalendar at http://upcoming.yahoo.com/event/349225/<br />
        iCalendar at webcal://upcoming.yahoo.com/calendar/v2/event/349225<br/>
		For more information on import formats, see <%= link_to "this page", "http://code.google.com/p/calagator/wiki/IncomingEventDataFormats" %>
				</p>
				<p>
				<em>New!</em> Import pages faster with our bookmarklet:
				<a href='javascript:d=document;q=(d.location.href);w=window;location.href='http://www.calagator.org/sources/new?url='+escape(q);'>Add to Calagator</a>
				<p>
	</div>
</fieldset>
<% end %>
