<h1>Editing organization</h1>

<%= semantic_form_for(@organization) do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :url %>
  <% end %>
  <%= f.buttons do %>
    <%= f.submit "Update" %>
  <% end %>
<% end %>

<%= link_to 'Show', @organization %> |
<%= link_to 'Back', organizations_path %>
