<%
# VARIABLES:
# * event: An Event instance.
# * has_contentbar: Should room be left to display a contentbar on the side? Defaults to true.

has_contentbar = local_assigns.has_key?(:has_contentbar) ? local_assigns[:has_contentbar] : true

html_classes = "single_event"
html_classes << " contentbar" if has_contentbar
%>
<div id="fb-root"></div>
<div class="<%= html_classes %>">
  <div class="vevent h-event" itemscope itemtype="http://schema.org/Event">
    <h1 class="summary p-name" itemprop="name"><%= event.title %></h1>
    <meta itemprop="startDate" content="<%= event.start_time.to_time.iso8601 %>">
    <% if event.end_time %>
      <meta itemprop="endDate" content="<%= event.end_time.to_time.iso8601 %>">
    <% end %>
    <div class='date'><%= normalize_time(event) -%></div>

    <% if event.rule && event.has_recurrences? %>
      <div id='recurrence'><h4><%= event.rule.to_s %></h4></div>
    <% end %>

    <% if event.organization %>
      <div id='organizer' class='property'>
        <h4>Organized by <%= link_to event.organization.title, event.organization %>.</h4>
        <% if !event.organization.volio_url.blank? %>
          <span class='volio'><%= link_to '(View on Volio)', event.organization.volio_url, target: '_blank' %></span>
        <% end %>
      </div>
    <% end %>

    <% unless event.venue.blank? %>
      <div id='location' class='property'>
        <div class="property-detail clearfix location p-location h-card vcard<%= " closed" if event.venue.closed? %>"  itemprop="location" itemscope itemtype="http://schema.org/Place">
          <a class="url u-url" href='<%= event.venue.new_record? ? "#" : venue_url(event.venue) %>'>
            <span class='fn org p-name' itemprop="name"><%= event.venue.title -%></span>
          </a>
          <% if event.venue.closed? %>
            <p class='closed_callout'>This venue is no longer open for business.</p>
          <% end %>
          <div class="adr p-adr h-adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <% if !event.venue.street_address.blank? -%>
              <div class="street-address p-street-address" itemprop="streetAddress"><%= event.venue.street_address -%></div>
            <% end %>
            <% if !event.venue.locality.blank? -%>
              <span class="locality p-locality" itemprop="addressLocality"><%= event.venue.locality -%></span>
              <%= "," if event.venue.region.present? or event.venue.postal_code.present? or event.venue.country.present? %>
            <% end -%>
            <% if !event.venue.region.blank? -%>
              <span class="region p-region" itemprop="addressRegion"><%= event.venue.region -%></span>
              <%= "," if event.venue.country.present? and not event.venue.postal_code.present? %>
            <% end -%>
            <% if !event.venue.postal_code.blank? -%>
              <span class="postal-code p-postal-code"  itemprop="postalCode"><%= event.venue.postal_code -%></span>
              <%= "," if  event.venue.country.present? %>
            <% end -%>
            <% if !event.venue.country.blank? -%>
              <span class='country-name p-country-name'><%= event.venue.country -%></span>
            <% end -%>
            <% if event.venue && event.venue.has_full_address? -%>
              <a class='button button--google-maps' href='<%=google_maps_url(event.venue.full_address) -%>'>Open in Google Maps</a>
            <% end -%>
            <% if event.venue.wifi? -%>
              <div class='wifi_callout'>Public WiFi</div>
            <% end -%>
            <% if event.venue.access_notes.present? -%>
              <div class="access_notes">
                <h3>Access Notes</h3>
                <%= format_description event.venue.access_notes %>
              </div>
            <% end -%>
          </div>
          <% unless event.venue_details.blank? -%>
            <p class="p-description">
              <%= format_description(event.venue_details) %>
            </p>
          <% end -%>
        </div>
      </div>
    <% end -%>

    <% unless event.description.blank? -%>
      <div id='description' class='property'>
        <h3>Description</h3>
        <div class="description property-detail e-description" itemprop="description">
          <%= format_description(event.description) %>
        </div>
      </div>
    <% end -%>

    <% unless event.url.blank? -%>
      <div id='website' class='property'>
        <h3>
          Website:
          <%= link_to "#{truncate(event.url, :length => 128)}", h(event.url), :class => "url u-url", :rel => "nofollow", :itemprop => "url", :target => "_blank" %>
        </h3>
      </div>
    <% end -%>

    <div id='minimum-age' class='property'><h3>
      <% if event.minimum_age.blank? %>
        All Ages Event
      <% else %>
        Minimum Volunteer Age: <%= event.minimum_age %>
      <% end %>
    </h3></div>

    <% if event.signup_instructions.present? %>
      <div id='signup-instructions' class='property'>
        <h3>Signup Instructions</h3>
        <div class='signup-instructions property-detail'>
          <%= auto_link event.signup_instructions, html: { rel: :nofollow , :target => "_blank"} %>
        </div>
      </div>
    <% end %>

    <% if event.contact_information.present? %>
      <div id='contact-information' class='property'>
        <h3>Contact Information</h3>
        <div class='contact-information property-detail'>
          <%= auto_link event.contact_information, html: { rel: :nofollow } %>
        </div>
      </div>
    <% end %>

    <% unless event.image.url.blank? -%>
        <div id='event-image' class='property'>
          <%= link_to event.image.url do %>
              <%= image_tag event.image.url(:preview), :style => 'background: #ffffff' %>
          <% end %>
        </div>
    <% end %>

    <% if event.persisted? %>
      <div class="share">
        <a class="fb-share" href="#"
          onclick="
            window.open(
              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('<%= shareable_event_url(event) %>'),
              'facebook-share-dialog',
              'width=626,height=436');
            return false;">
          Share
        </a>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= shareable_event_url(event) %>" data-text="<%= tweet_text(event) %>" data-related="calagator" data-dnt="true">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    <% end %>
    <% unless event.tags.blank? -%>
    <h3>Tags</h3>
    <div class="tags">
        <%= tag_links_for event %>
    </div>
    <% end %>
  </div>
</div>
