<% cache "changes-show,page_#{params[:page] || 0}" do %>
<h1>Changes</h1>

<%= link_to "Changes feed", recent_changes_path(:format => "atom") %>

<table cellspacing="0" id="changes_table">
  <tr>
    <th class="change_time">Time</th>
    <th class="change_details">Details with Current/Previous</th>
  </tr>
  <% @versions.each do |version| %>
    <tr>
      <td class="change_time">
        #<%= version.id %>
        <%= version.created_at %>
      </td>
      <td class="change_details">
        <p class="change_detail_description">
            <a name="<%= version.id %>">
            <b><%= version.event.titleize %></b>
            <%= link_to "#{version.item_type}##{version.item_id}", url_for(:controller => version.item_type.tableize, :action => "show", :id => version.item_id) %> &mdash; <%= link_to "Rollback this change", rollback_to_path(:version => version.id), :method => :post, :confirm => 'Are you sure?' %>
            <% if version.whodunnit %>
              <% if user = Member.find(version.whodunnit) rescue nil %>
                by <%= link_to h(user.name), member_path(user) %>
              <% end %>
            <% end %>
          </a>
        </p>

        <% changes = changes_for(version) %>

        <table cellspacing="0" class="changes_details_table">
          <% changes.keys.sort.each do |key| %>
            <tr>
              <td class="change_detail_key">
                <b><%= key %></b>
              </td>
              <td class="change_detail_value">
                <%= text_or_nil(changes[key][0]) %>
              </td>
              <td class="change_detail_spacer">&larr;</td>
              <td class="change_detail_value">
                <%= text_or_nil(changes[key][1]) %>
              </td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @versions %>
<% end %>
