<%= content_for :title, "Organizations" %>

<% tabindex_on '#search_field' %>

<div id="organizations_index">
<div id='organizations_search'>
  <%= form_tag organizations_path, :method => 'get' do %>
    <div class='keywords'>
      <%= label_tag :query, "Find an organization:" %>
      <%= text_field_tag :query, @search.query %>
    </div>

    <div class='submit'>
      <%= submit_tag "Search", class: 'button button--google-maps' %>
    </div>
  <% end %>
</div>

<% if @search.results? %>
  <div id='organizations_search_results'>
    <div class='list_description'>
      <% if @search.tag %>
        <h2>Showing <strong><%= @organizations.size %></strong> organizations tagged with <strong><%= @search.tag %></strong></h2>
      <% else -%>
        <h2>
          <% if @organizations.size == 0 -%>
            Sorry, there are no organizations
          <% else -%>
            Showing <%= "all " if @search.all %><strong><%= @organizations.size %></strong> <%= 'organization'.pluralize(@organizations.size) %>
          <% end %>
          <% if @search.query.present? %>
            matching &#8220;<%= @search.query %>&#8221;
          <% end %>
        </h2>
      <% end -%>
    </div>

    <ul class='clearfix'>
      <% @organizations.each do |organization| %>
        <li>
          <%= link_to(organization.title, organization_url(organization)) %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div id='organization_portal'>
    <div id="exports">
      <%= link_to 'List all organizations', organizations_path(:all => 1), class: 'button button--call-to-action' %>
    </div>
    <div id='most_active'>
      <h3>Most Active</h3>
      <ul class='clearfix'>
        <% @search.most_active_organizations.each do |organization| %>
          <%= link_to(organization_url(organization)) do %>
            <li>
              <%= organization.title %>
              <p class='detail'><%= organization.events_count %> events</p>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div id='newest'>
      <h3>Newest</h3>
      <ul class='clearfix'>
        <% @search.newest_organizations.each do |organization| %>
          <%= link_to(organization_url(organization)) do %>
            <li>
              <%= organization.title %>
              <p class='detail'>Added <%= time_ago_in_words(organization.created_at) %> ago</p>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
</div>
