<% tabindex_on '#search_field' %>

<% cache(CacheObserver.daily_key_for("site_index", request)) do %>
<a href="#" id="homepage_sidebar_toggle" class="expander_toggle">Hi there. Learn about this site and how to use it...</a>
<aside id="homepage_sidebar">
  <div id="project_description">
    <%= render :partial => "description" %>
  </div>

  <% tags =
        @tagcloud_items_deferred.call.map{ |item|
          tag_link(:event, item[:tag], "tagcloud_level_#{item[:level]}") 
        }.join('<span class="spacer"> &middot; </span>').html_safe -%>
  <% if tags.present? %>
    <div id="tagcloud">
      <h2>Popular tags</h2>
      <%= tags -%>
    </div>
  <% end %>
</aside>

<div id="whats_happening">
  <h2>What's happening?</h2>
  <section id='coming_events'>
    <% if @times_to_events[:today].any? %>
    <h3>Today</h3>
      <%= render 'events/list', :events => @times_to_events[:today], :dates => false %>
    <% end %>
    <% if @times_to_events[:tomorrow].any? %>
    <h3>Tomorrow</h3>
    <%= render 'events/list', :events => @times_to_events[:tomorrow], :dates => false %>
    <% end %>
  </section>
  <secton id='recently_added_events'>
    <h3>Future Events</h3>
    <%= render 'events/list', :events => @times_to_events[:later] %>
  </section>
  <%= link_to("View more &raquo;".html_safe, 
  events_path(:anchor => "event-#{@times_to_events[:more].id}"),
  :id => "future_events_link") if @times_to_events[:more] %>
</div>
<% end %>
