<%= content_for :title, "Duplicate Event Squasher" %>

<div id="events_duplicates">
  <h1>Duplicate Events</h1>

  <div id='list_filters' class='sidebar'>
    <h3>Show events with a duplicate</h3>
    <ul>
      <li><%= link_to_unless_current "Title", url_for(:action => 'duplicates', :type => 'title') %></li>
      <li><%= link_to_unless_current "Start Time", url_for(:action => 'duplicates', :type => 'start_time') %></li>
      <li><%= link_to_unless_current "Both Times", url_for(:action => 'duplicates', :type => 'start_time,end_time') %></li>
      <li><%= link_to_unless_current "URL", url_for(:action => 'duplicates', :type => 'url') %></li>
      <li><%= link_to_unless_current "Description", url_for(:action => 'duplicates', :type => 'description') %></li>
      <li><%= link_to_unless_current "Venue", url_for(:action => 'duplicates', :type => 'venue_id') %></li>
      <li><%= link_to_unless_current "Source", url_for(:action => 'duplicates', :type => 'source_id') %></li>
      <li>-----</li>
      <li><%= link_to_unless_current "Any Field", url_for(:action => 'duplicates', :type => 'any') %></li>
      <li><%= link_to_unless_current "All Fields", url_for(:action => 'duplicates', :type => 'all') %></li>
    </ul>
    <h3>List Events</h3>
    <ul>
      <li><%= link_to_unless_current "All Events", url_for(:action => 'duplicates', :type => 'na') %></li>
    </ul>
  </div>
  <% unless @grouped.empty? %>
    <%= form_tag :action => "squash_many_duplicates", :method => :post %>
      <div class="flash notice">
        Select only one set of master and duplicate events. If you select an unrelated event, it will be merged into the same single master record.
      </div>
      <div class='list_items'>
        <%= hidden_field_tag(:type, @type) %>
        <table>
          <% for value, group in @grouped %>
            <tr>
              <th>Master?</th><th>Duplicate?</th><th>Event<%= " (#{value})" unless value.blank? %></th>
            </tr>
            <% for event in group %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= radio_button_tag("master_id", event.id) %></td>
                <td><%= check_box_tag("duplicate_id_#{event.id}", event.id) %></td>
                <td>
                  <div><%= link_to event.title, event_url(event) %></div>
                  <div><%= event.start_time %><%= ", #{event.venue.title}" unless event.venue.nil? %></div>
               </td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <ul>
          <li>Checked items will be deleted.</li>
        </ul>
        <%= submit_tag "Squash Duplicates" %>
      </div>
    </form>
  <% else %>
  No duplicates found
  <% end %>
</div>
