  <h1><%= @event.new_record? ? "New event" : "Edit event" %></h1>
  <p>You can <%= @event.new_record? ? "enter" : "edit" %> the details of your event below.  The more information we have about your event, the easier it will be for people to find it.</p>

  <%= error_messages_for :event %>

	<% form_for(@event) do |f| %>
		<div>
      <%= f.label :title, "Event Name" %>
			<br />
			<%= f.text_field :title %>
		</div>
		<div>
      <%= f.label :venue %>
      <br />
      <%= collection_select(:event, :venue_id, Venue.find_all_ordered, :id, :title, :include_blank => true) %>
		</div>

    <div id="event_times">
      <table>
        <tr>
          <td>
            <%= calendar_date_select_includes %>
            <div id="start_time">
              <%= f.label :start_time %>
              <%= calendar_date_select :event, :start_time, :embedded => true, :force => true, :minute_interval => 15, :year_range => [Time.now, 1.year.from_now] %>
            </div>
          </td>
          <td>
            <div id="end_time">
              <%= f.label :end_time %>
              <%= calendar_date_select :event, :end_time, :embedded => true, :force => true, :minute_interval => 15, :year_range => [Time.now, 1.year.from_now] %>
            </div>
          </td>
        </tr>
      </table>
    </div>
		<div>
      <%= f.label :url, "Web Link" %>
			<br />
			<%= f.text_field :url %>
		</div>
		<div>
      <%= f.label :description %>
			<span class="note">(HTML formatting allowed)</span><br />
			<%= f.text_area :description %>
		</div>
    <% if false %>
    <%# TODO implement tags %>
		<div>
      <%= f.label :tags %>
			<span class="note">(comma separated keywords)</span><br />
			<input type="text" name="event_tags" value="" id="event_tags">
		</div>
    <% end %>
    <p><%= f.submit(@event.new_record? ? "Create" : "Update") %></p>
	<% end %>
