<%
new_day ||= nil
opts ||= {}
opts[:dates] = opts.has_key?(:dates) ? opts[:dates] : true
show_year ||= false
%>
<li class='vevent'>
  <% date_class = (opts[:dates]==false || !new_day) ? ' hidden' : '' %>
  <div class='list_date<%=date_class%>'>
    <div class='weekday'><%= today_tomorrow_or_weekday(event) %></div>
      <%= datetime_format(event.start_time,'%b %d')%>
      <% if show_year %>
        <%= datetime_format(event.start_time,'%Y')%>
      <% end %>
  </div>
  <div class='list_content'>
    <a href='<%= url_for event_url(event) %>' class='summary'>
      <%= event.title %>
    </a>
    <div>
      <abbr class="dtstart" title="<%=event.start_time.strftime('%Y-%m-%dT%H:%M:%S')%>">
      <%- if event.end_time.nil? %>
        <% # need to do this to avoid space between time and comma %>
        <%= normalize_time(event.start_time) %>,
      <% else %>
        <%= normalize_time(event.start_time) %>
        &ndash;
      <% end %>
      </abbr>
      <% if !event.end_time.nil? %>
        <abbr class="dtend" title="<%=event.end_time.strftime('%Y-%m-%dT%H:%M:%S')%>">
          <%= normalize_time(event.end_time) %>,
        </abbr>
      <% end %>
      <% if event.venue && !event.venue.title.blank? %>
        <%= link_to event.venue.title, event.venue, :class => "location" %>
      <% end %>
    </div>
    <% if !event.description.blank? %>
      <div class="description">
        <%= auto_link(white_list(event.description)) %>
      </div>
    <% end %>
    <% if !event.url.blank? %>
      <%= link_to "Website", event.url, :class => "url" %>
    <% end %>
  </div>
</li>