<div class="single_event contentbar">
  <div class="vevent">
    <h1 class="summary"><%= cleanse event.title.strip_html %></h1>
    <div class='date'><%= normalize_time(event) -%></div>
      <% unless event.venue_id.blank? %>
      <div class="location vcard">
      <%= google_map event %>
          <a class="url" href='<%= url_for venue_url(event.venue) %>'>
            <span class='fn org'><%= cleanse event.venue.title.strip_html -%></span>
          </a>
          <div class="adr">
          <% if !event.venue.street_address.blank? -%>
          <div class="street-address"><%= cleanse event.venue.street_address -%></div>
          <% end %>
          <% if !event.venue.locality.blank? -%>
            <span class="locality"><%= cleanse event.venue.locality -%></span>
            <% end -%>
            <% if !event.venue.region.blank? -%>
            <span class="region"><%= cleanse event.venue.region -%></span>
            <% end -%>
            <% if !event.venue.postal_code.blank? -%>
            <span class="postal-code"><%= cleanse event.venue.postal_code -%></span>
            <% end -%>
            <% if !event.venue.country.blank? -%>
            <div class='country-name'><%= cleanse event.venue.country -%></div>
            <% end -%>
            <% if event.venue && event.venue.has_full_address? -%>
            (<a href='<%=google_maps_url(event.venue.full_address) -%>'>map</a>)
            <% end -%>
      </div>
    </div>
    <% end -%>
      <% unless event.url.blank? -%>
        <h3>Website</h3>
        <div class="website">
          <%= link_to "#{truncate(event.url, :length => 128)}", h(event.url), :class => "url", :rel => "nofollow" -%>
        </div>
      <% end -%>
    <% unless event.description.blank? -%>
    <h3>Description</h3>
    <div class="description">
      <%= format_description(event.description) %>
    </div>
    <% end -%>
    <% unless event.tags.blank? -%>
    <h3>Tags</h3>
    <div class="tags">
        <%= cleanse event.tag_list %>
    </div>
    <% end %>
  </div>
</div>