<%-
# Arguments:
# * events => Array of Event records.
# * scores => Offer a sort by score, like for search? Default to false.

scores = defined?(scores) ? scores : false

previous_start_time = nil
#show_year ||= false
skipped = 0

# calculate rowspans array for events
# each entry is number of rows spanned by today_tomorrow_weekday entry, if any, to left of event
# entry will be > 0 for first event of day, 0 for other events
rowspans = calculate_rowspans(events)
-%>
<table class='event_table'>
  <thead>
    <tr>
      <th class='date'>Sort By: <%= link_to "Date", url_for(params.merge(:order => 'date')) %></th>
      <th class='event_summary'>
        <%= events_sort_link('name') -%>,
        <%= events_sort_link('venue') -%>
        <%- if scores -%>,
        <%= events_sort_link('score') -%>
        <%- end -%>, 
        <%= events_sort_link(nil) -%>
      </th>
    </tr>
  </thead>
  <tbody>
    <% unless events.size==0 %>
      <% events.each_with_index do |event, index| %>
        <tr class='vevent'>
          <% if rowspans[index] > 0 %>
          <td class='date' rowspan="<%=rowspans[index]%>">
            <div class='day_of_week <%= today_tomorrow_or_weekday(event).downcase -%>'>
              <%= today_tomorrow_or_weekday(event) %>
            </div>
            <% show_year = event.start_time.year != Time.now.year %>
            <%= datetime_format(event.start_time,'%b %d') -%><%= ", "+datetime_format(event.start_time,'%Y') if show_year %>
          </td>
          <% end %>
          <td class='event_summary'>
            <a class='summary' href='<%= url_for event_url(event) %>' name='<%= "event-#{event.id}" %>' id='<%= "event-#{event.id}" %>'><%= cleanse event.title.strip_html %></a><br />
            <%= normalize_time(event, :context => event.start_time.to_date) -%>
            <% if event.venue && !event.venue.title.blank? %>
              <a class='location' href='<%= url_for venue_url(event.venue) %>'><%= cleanse event.venue.title.strip_html -%></a>
            <% end -%>
            <% if !event.description.blank? %>
              <div class='description'>
                <%= format_description(event.description) -%>
              </div>
            <% end -%>
            <% if !event.url.blank? -%>
              <%= link_to "Website", event.url, :class => "url", :rel => "nofollow" -%>
            <% end -%>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan=2>No events were found.</td>
      </tr>
    <% end %>
    <% if skipped > 0 %>
      <tr>
        <td colspan=2>
          <%= link_to "(And #{skipped} more)", events_url %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
