<div id="edit_event">
	<h1><%= @event.title %></h1>
	<p>You can edit the details of your event below.  The more information we have about your event, the easier it will be for people 
		to find it.</p>
	<% form_for(@event) do |f| %>
		<div>
      <%= f.label :title, "Event Name" %>
			<br />
			<%= f.text_field :title %>
		</div>
		<div>
      <%= f.label :venue %>
      <br />
      <%= collection_select(:event, :venue_id, Venue.find_all_sensible_with_current(@event.venue), :id, :title_or_filler, :include_blank => true) %>
		</div>
    <div>
    </div>
		<div id="event_times">
			<div id="start_time">
        <%= f.label :start_time %>
				<br />
        <input type="text" name="event_start_date" value="<%= @event.start_time.strftime("%Y/%m/%d") %>" id="event_start_date">
        <%# FIXME how to ignore events without a time of day? ignore midnight? %>
        <input type="text" name="event_start_time" value="<%= @event.start_time.strftime("%H:%M") %>" id="event_start_time">
			</div>
			<div id="end_time">
        <%= f.label :end_time %>
				<br />
        <input type="text" name="event_end_date" value="<%= @event.end_time.nil? ? '' : @event.end_time.strftime("%Y/%m/%d") %>" id="event_start_date">
        <input type="text" name="event_end_time" value="<%= @event.end_time.nil? ? '' : @event.end_time.strftime("%H:%M")  %>" id="event_end_time">
			</div>	
		</div>
		<div>
      <%= f.label :url, "Web Link" %>
			<br />
			<%= f.text_field :url %>
		</div>
		<div>
      <%= f.label :description %>
			<span class="note">(HTML formatting allowed)</span><br />
			<%= f.text_area :description %>
		</div>
    <% if false %>
    <%# TODO implement tags %>
		<div>
      <%= f.label :tags %>
			<span class="note">(comma separated keywords)</span><br />
			<input type="text" name="event_tags" value="" id="event_tags">
		</div>
    <% end %>
		<p><input type="submit" value="save"></p>
	<% end %>
</div>
