
<div id='list_description'>
  <h2>Viewing all <strong><%= @events.size %></strong> <%= 'future' unless params[:date] %> events.</h2>

  ( <%= link_to "Add new event", new_event_url %> )
  ( iCal: <a href="<%= url_for :action => 'index' %>.ics">download</a> | 
		<a href="<%= url_for(:action => 'index', :protocol => 'webcal', :only_path => false) %>.ics">subscribe</a> )
</div>
<div id='list_filters'>
	<!--
	<h3>Order events by</h3>
	<ul>
		<li><%= link_to "Date", '#', :class => 'active' %></li>
		<li><%= link_to "Event Name", '#' %></li>
		<li><%= link_to "Location", '#' %></li>
	</ul>
	-->
	
	<h3>Filter by date</h3>
	<% form_tag events_url, :method => 'get' do  -%>
	<div id='start_calendar'>
		Start
		<%= calendar_date_select_tag 'date[start]', @start_date.to_formatted_s(:long) %>
	</div>
	<div id='end_calendar'>
		End
		<%= calendar_date_select_tag 'date[end]', @end_date.to_formatted_s(:long) %>
	</div>
	<%= submit_tag 'Filter' %> <%= link_to 'Clear Filter', events_url %>
	<% end %>
</div>
<div id='list_items'>
	<%= render :partial => 'events/list', :locals => { :events => @events } %>
</div>
