
<div id='list_description'>
  <h2>Viewing all <strong><%= @events.size %></strong> future events.</h2>

  ( <%= link_to "Add new event", new_event_url %> )
  ( iCal: <a href="<%= url_for :action => 'index' %>.ics">download</a> | <a href="<%= url_for(:action => 'index', :protocol => 'webcal', :only_path => false) %>.ics">subscribe</a> )
</div>
<div id='list_filters'>
	<!--
	<h3>Order events by</h3>
	<ul>
		<li><%= link_to "Date", '#', :class => 'active' %></li>
		<li><%= link_to "Event Name", '#' %></li>
		<li><%= link_to "Location", '#' %></li>
	</ul>
	<h3>Filter by date</h3>
	<div id='start_calendar'>
		Pretty calendar widget for start date.
	</div>
	<div id='end_calendar'>
		Pretty calendar widget for end date.
	</div>
	-->
</div>
<div id='list_items'>
	<%= render :partial => 'events/list', :locals => { :events => @events } %>
</div>
