<%= link_to "Add new event", new_event_url %>

<div id='list_description'>
	Viewing all <strong><%= @events.size %></strong> future events.
</div>
<div id='list_filters'>
	<!--
	<h3>Order events by</h3>
	<ul>
		<li><%= link_to "Date", '#', :class => 'active' %></li>
		<li><%= link_to "Event Name", '#' %></li>
		<li><%= link_to "Location", '#' %></li>
	</ul>
	<h3>Filter by date</h3>
	<div id='start_calendar'>
		Pretty calendar widget for start date.
	</div>
	<div id='end_calendar'>
		Pretty calendar widget for end date.
	</div>
	-->
</div>
<div id='list_items'>
	<%= render :partial => 'events/list', :locals => { :events => @events } %>
</div>
