<% tabindex_on '#search_field' %>

<% content_for :discovery_insert do %>
  <%= auto_discovery_link_tag(:atom, atom_feed_link(:query => @query, :tag => @tag), :title => "Atom: Search Results for '#{@query}'" )%>
<% end -%>
<%= render :partial => 'search_section', :locals => {:description => "current", :events => @grouped_events[:current]} %>
<%= render :partial => 'search_section', :locals => {:description => "past", :events => @grouped_events[:past]} %>

<div id='list_filters' class='sidebar'>
  <h3>Subscribe to</h3>
  <ul>
    <li><%= link_to "iCalendar feed", icalendar_feed_link(:query => @query, :tag => @tag) %></li>
    <li><%= link_to "Atom feed", atom_feed_link(:query => @query, :tag => @tag) %></li>
    <li><%= link_to "Google Calendar", google_events_subscription_link(:query => @query, :tag => @tag) %></li>
  </ul>

  <h3>Export to</h3>
  <ul>
    <li><%= link_to "iCalendar file", icalendar_export_link(:query => @query, :tag => @tag) %></li>
  </ul>
</div>
