<div class="vevent">
	<h1 class="summary"><%= @record.title %></h1>

	<div class='date'>
		START: <abbr class="dtstart" title="<%=@record.start_time.strftime('%Y-%m-%dT%H:%M:%S')%>">
		 	<span class="day"><%= @record.start_time.day %></span>
			 <span class="month"><%= @record.start_time.strftime("%B") %></span>
			 <span class="time"><%= @record.start_time.strftime("%H:%M") %></span>
		</abbr>
	</div>

  <% unless @record.venue.blank? %>
    <div class="location">
      VENUE: <%= h @record.venue.title %> (<%= link_to "link", venue_path(@record.venue) %>)
    </div>
  <% end %>

  <% unless @record.url.blank? %>
    URL: <%= link_to "link", @record.url, :class => "url" %>
  <% end %>

	<div class="description">
    DESCRIPTION: 
    <%= textilize h @record.description %>
	</div>

	<div class="metadata">
		Created <%= @record.created_at %>
		Modified <%= @record.updated_at %>
	</div>
</div>

