<div class="vevent">
	<h1 class="summary"><%= @record.title %></h1>
	
	<% 
	unless @record.end_time.nil?
		if @record.start_time.strftime('%Y:%j') != @record.end_time.strftime('%Y:%j')
			span_days = true
		end
		end_format = @record.end_time.min ? '%I:%M%p' : '%I%p'
	end
	start_format = @record.start_time.min ? '%I:%M%p' : '%I%p'
	%>
	
	<div class='date'>
		<abbr class="dtstart" title="<%=@record.start_time.strftime('%Y-%m-%dT%H:%M:%S')%>">
			<span class='weekday'><%= @record.start_time.strftime('%A') %></span>,
			<span class="month"><%= @record.start_time.strftime("%B") %></span>
			<span class="day"><%= @record.start_time.day %></span>; 
			<span class="time"><%= @record.start_time.strftime(start_format).downcase %></span>
		</abbr>
		<% unless @record.end_time.nil? %>
		&ndash;
		<abbr class="dtend" title="<%=@record.end_time.strftime('%Y-%m-%dT%H:%M:%S')%>">
			<% if span_days %>
				<span class='weekday'><%= @record.end_time.strftime('%A') %></span>,
				<span class="month"><%= @record.end_time.strftime("%B") %></span>
				<span class="day"><%= @record.end_time.day %></span>; 
			<% end %>
			<span class="time"><%= @record.end_time.strftime(end_format).downcase %></span>
		</abbr>
		<% end %>
	</div>

  <% unless @record.venue.blank? %>
    <div class="location vcard">
		<a href='<%= url_for venue_path(@record.venue) %>' class='url'>
		    <span class='fn org'><%= h @record.venue.title %></span>
		</a>
		<div class="adr">
			<% if !@record.venue.street_address.blank? %>
				<div class="street-address"><%= @record.venue.street_address %></div>
			<% end %>
			<% if !@record.venue.locality.blank? %>
				<span class="locality"><%= @record.venue.locality %></span>
			<% end %>
			<% if !@record.venue.region.blank? %>
				, <span class="region"><%= @record.venue.region %></span> 
			<% end %>
			<% if !@record.venue.postal_code.blank? %>
				<span class="postal-code"><%= @record.venue.postal_code %></span>
			<% end %>
			<% if !@record.venue.country.blank? %>
				<div class='country-name'><%= @record.venue.country %><div>
			<% end %>
			(<a href='<%=@record.venue.google_maps_url%>'>map</a>)
		</div>
    </div>
  <% end %>

  <% unless @record.url.blank? %>
	<div class="description">
    <%= @record.description %>
	</div>
  <% end %>

  <% unless @record.url.blank? %>
	<h3>Links</h3>
	<ul>   	
		<li><%= link_to "Website", @record.url, :class => "url" %></li>
	</ul>
  <% end %>

	<div class='single_view_right'>
		<div id='edit_link'>
			<h4>Something not right?</h4>
			<p>You can <%= link_to "edit this event", edit_event_url %>.</p>
		</div>
		<div id='metadata'>
			This event was 
			<% if @record.source.nil? %>
			added directly to Calagator
			<% else %>
			imported from <%= link_to @record.source.name, source_url(@record.source.id) %>
			<% end %>
			on <strong><%= @record.created_at.strftime('%a. %d, %Y') %></strong>
			<% unless @record.created_at == @record.updated_at %>
			and last updated on <strong><%= @record.created_at.strftime('%a. %d, %Y') %></strong>
			<% end %>.
		</div>
	</div>
</div>

