<% focus_on '#search_field' %>
<div class="single_event contentbar">
	<div class="vevent">
	  <h1 class="summary"><%= @event.title.strip_html %></h1>
	  <div class='date'><%= normalize_time(@event) -%></div>
	    <% unless @event.venue.blank? %>
	    <div class="location vcard">
			<%= google_map @event %>
	        <a class="url" href='<%= url_for venue_url(@event.venue) %>'>
            <span class='fn org'><%= @event.venue.title.strip_html -%></span>
	        </a>
	        <div class="adr">
	        <% if !@event.venue.street_address.blank? -%>
	        <div class="street-address"><%= h @event.venue.street_address -%></div>
	        <% end %>
	        <% if !@event.venue.locality.blank? -%>
            <span class="locality"><%= h @event.venue.locality -%></span>
            <% end -%>
            <% if !@event.venue.region.blank? -%>
            <span class="region"><%= h @event.venue.region -%></span>
            <% end -%>
            <% if !@event.venue.postal_code.blank? -%>
            <span class="postal-code"><%= h @event.venue.postal_code -%></span>
            <% end -%>
            <% if !@event.venue.country.blank? -%>
            <div class='country-name'><%= h @event.venue.country -%></div>
            <% end -%>
            <% if @event.venue && @event.venue.has_full_address? -%>
            (<a href='<%=google_maps_url(@event.venue.full_address) -%>'>map</a>)
            <% end -%>
	    </div>
	  </div>
	  <% end -%>
      <% unless @event.url.blank? -%>
        <h3>Website</h3>
        <div class="website">
          <%= link_to "#{truncate(@event.url, 128)}", @event.url, :class => "url" -%>
        </div>
      <% end -%>
	  <% unless @event.description.blank? -%>
	  <h3>Description</h3>
	  <div class="description">
	    <%= upgrade_br(simple_format(auto_link(white_list(@event.description)))) %>
	  </div>
	  <% end -%>
	  <% unless @event.tags.blank? -%>
	  <h3>Tags</h3>
	  <div class="tags">
	      <%= @event.tag_list %>
	  </div>
	  <% end %>
	</div>
</div>
        
<div class='single_view_right sidebar'>
	<h3 class='first'>Send to Calendar</h3>
	<ul>
		<li><%= render :partial=>'gcal_reminder'%></li>
		<li><%= link_to 'Download to iCal', "#{event_url(@event)}.ics" %></li>
		<li>
			<%= link_to_function 'Get hCalendar markup', '$("#hcal_field").toggle()' %>
			<div id="hcal_field" style="display: none;">
				<%= text_area_tag 'hCalendar', h(@show_hcal), :rows => 10, :cols => 80 %>
			</div>
		</li>
	</ul>
<hr />
  <div id='edit_link'>
      <p>You can <%= link_to "edit this event", edit_event_url(@event) %>
      or <%= link_to "delete it", event_url(@event), :method => :delete, :confirm => "Are you sure?" %>.</p>
  </div>
<hr />
  <div id='metadata'>
      <%= datestamp(@event) %>
  </div>
</div>
</div>
