<% tabindex_on '#search_field' %>

<% content_for :discovery_insert do %>
  <link rel="alternate" type="application/x-wiki" title="Edit this page" href="<%= edit_event_url(@event) %>" />
<% end %>

<div class="single_event contentbar">
  <div class="vevent">
    <h1 class="summary"><%= cleanse @event.title.strip_html %></h1>
    <div class='date'><%= normalize_time(@event) -%></div>
      <% unless @event.venue.blank? %>
      <div class="location vcard">
      <%= google_map @event %>
          <a class="url" href='<%= url_for venue_url(@event.venue) %>'>
            <span class='fn org'><%= cleanse @event.venue.title.strip_html -%></span>
          </a>
          <div class="adr">
          <% if !@event.venue.street_address.blank? -%>
          <div class="street-address"><%= cleanse @event.venue.street_address -%></div>
          <% end %>
          <% if !@event.venue.locality.blank? -%>
            <span class="locality"><%= cleanse @event.venue.locality -%></span>
            <% end -%>
            <% if !@event.venue.region.blank? -%>
            <span class="region"><%= cleanse @event.venue.region -%></span>
            <% end -%>
            <% if !@event.venue.postal_code.blank? -%>
            <span class="postal-code"><%= cleanse @event.venue.postal_code -%></span>
            <% end -%>
            <% if !@event.venue.country.blank? -%>
            <div class='country-name'><%= cleanse @event.venue.country -%></div>
            <% end -%>
            <% if @event.venue && @event.venue.has_full_address? -%>
            (<a href='<%=google_maps_url(@event.venue.full_address) -%>'>map</a>)
            <% end -%>
      </div>
    </div>
    <% end -%>
      <% unless @event.url.blank? -%>
        <h3>Website</h3>
        <div class="website">
          <%= link_to "#{truncate(@event.url, :length => 128)}", h(@event.url), :class => "url", :rel => "nofollow" -%>
        </div>
      <% end -%>
    <% unless @event.description.blank? -%>
    <h3>Description</h3>
    <div class="description">
      <%= format_description(@event.description) %>
    </div>
    <% end -%>
    <% unless @event.tags.blank? -%>
    <h3>Tags</h3>
    <div class="tags">
        <%= tag_links_for @event %>
    </div>
    <% end %>
  </div>
</div>
        
<div class='single_view_right sidebar'>
  <h3 class='first'>Export to</h3>
  <ul>
    <li><%= link_to "Google Calendar", google_event_export_link(@event), :id => "google_calendar_export" %></li>
    <li><%= link_to 'iCalendar file', "#{event_url(@event)}.ics" %></li>
    <li>
      <%= link_to_function 'hCalendar markup', '$("#hcal_field").toggle()' %>
      <div id="hcal_field" style="display: none;">
        <%= text_area_tag 'hCalendar', h(@show_hcal), :rows => 10, :cols => 80 %>
      </div>
    </li>
  </ul>
<hr />
  <div id='edit_link'>
    <p>
      You can 
      <%= link_to "edit", edit_event_url(@event) %>,
      <%= link_to "clone", clone_event_url(@event) %>,
      or 
      <%= link_to "delete", event_url(@event), :method => :delete, :confirm => "Are you sure?" %>
      this event.
    </p>
  </div>
<hr />
  <div id='metadata'>
      <%= datestamp(@event) %>
  </div>
</div>
</div>
