<%= google_map @event %>

<%= render :partial => 'events/hcal' %>
        
<div class='single_view_right'>
  <%= link_to 'Download to iCal', "#{event_url(@event)}.ics" %><br/>
  <%= link_to_function 'Get hCalendar markup', '$("hcal_field").toggle()' %>
  <div id="hcal_field" style="display: none;">
    <%= text_area_tag 'hCalendar', @show_hcal, :rows => 10, :cols => 80 %>
  </div>
  <div id='edit_link'>
    <h4>Something not right?</h4>
      <p>You can <%= link_to "edit this event", edit_event_url(@event) %>
      or <%= link_to "delete it", event_url(@event), :method => :delete, :confirm => "Are you sure?" %>.</p>
  </div>
  <div id='metadata'>
    This event was
    <% if @event.source.nil? %>
    added directly to Calagator
    <% else %>
     imported from <%= link_to @event.source.name, @event.source.name %>
    <% end %>
    on <strong><%= normalize_time(@event.created_at, :format => :html) %></strong>
    <% unless @event.created_at == @event.updated_at %>
    and last updated on <strong><%= normalize_time(@event.updated_at, :format => :html) %></strong>
    <% end %>.
  </div>
</div>

