<h4>Get Started</h4>
<ul>
  <li><%= link_to "Find local events", about_url(anchor: "find_local_events") %></li>
  <li><%= link_to "Share local events", about_url(anchor: "share_local_events") %></li>
  <li><%= link_to "Get involved", about_url(anchor: "get_involved") %></li>
  <li><%= link_to "Find out about us", about_url %></li>
</ul>

<h4>Subscribe To</h4>
<ul>
  <li><%= link_to "iCalendar feed", icalendar_feed_link %></li>
  <li><%= link_to "Atom feed", atom_feed_link %></li>
</ul>
