<div id="edit_venue">
	<h1><%= @venue.title %></h1>
	<% form_for(@venue) do |f| %>
    <table>
      <tr>
        <td class="desc">
          <%= f.label :title, "Venue Name" %>
        </td>
        <td>
          <%= f.text_field :title %>
        </td>
      </tr>
      <tr>
        <td class="desc">
          <%= f.label :address %>
        </td>
        <td>
          <%= f.text_field :address %>
          <span class="note">(one-line version of full address)</span>
        </td>
      </tr>
      <tr>
        <td class="desc">
          <%= f.label :street_address %>
        </td>
        <td>
          <%= f.text_field :street_address %>
        </td>
      </tr>
      <tr>
        <td class="desc">
          <%= f.label :locality, "City" %>
        </td>
        <td>
          <%= f.text_field :locality %>
        </td>
      </tr>
      <tr>
        <td class="desc">
          <%= f.label :region, "State" %>
        </td>
        <td>
          <%= f.text_field :region %>
        </td>
      </tr>
      <tr>
        <td class="desc">
          <%= f.label :postal_code, "ZIP Code" %>
        </td>
        <td>
          <%= f.text_field :postal_code %>
        </td>
      </tr>
      <tr>
        <td class="desc">
          <%= f.label :url, "Web Link" %>
        </td>
        <td>
          <%= f.text_field :url%>
        </td>
      </tr>
      <tr>
        <td class="desc">
          <%= f.label :email %>
        </td>
        <td>
          <%= f.text_field :email %>
        </td>
      </tr>
      <tr>
        <td class="desc">
          <%= f.label :telephone %>
        </td>
        <td>
          <%= f.text_field :telephone %>
        </td>
      </tr>
      <tr>
        <td class="desc">
          <%= f.label :description %>
        </td>
        <td>
          <%= f.text_area :description, :rows => 4, :cols => 60 %>
          <br>
          <span class="note">(HTML formatting allowed)</span>
        </td>
      </tr>
      <% if false %>
      <%# TODO implement tags %>
      <tr>
        <td class="desc">
          <%= f.label :tags %>
        </td>
        <td>
          <%= f.text_field :tags %>
          <span class="note">(comma separated keywords)</span>
        </td>
      </tr>
      <% end %>
      <tr>
        <td>
          &nbsp;
        </td>
        <td>
          <%= f.submit "Save" %>
        </td>
      </tr>
    </table>
	<% end %>
</div>
