<% tabindex_on '#search_field' %>

<div id="venues_index">
  <div id='list_description'>
    <% if @tag %>
      <h2>Showing <strong><%= @venues.size %></strong> venues tagged with <strong><%=h @tag %></strong></h2>
    <% else -%>
      <h2>Viewing all <strong><%= @venues.size %></strong> venues.</h2>
    <% end -%>
  </div>
  <%= google_map @venues, SETTINGS.venues_google_map_options %>

  <ul>
    <% for venue in @venues %>
      <li>
        <%= link_to(cleanse(venue.title), venue_url(venue)) %>
        <% if venue.has_full_address? %>
          at <%= cleanse venue.full_address %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
