<% tabindex_on '#search_field' %>
<div id="venues_index">
<h1>Venues</h1>
<div id='venues_search'>
  <h2>Find a venue:</h2>
  <% form_tag venues_path, :method => 'get' do %>
    <div class='keywords'>
      <%= label_tag :query, "Keywords" %>
      <%= text_field_tag :query, params[:query] %>
    </div>
    <div class='wifi'>
      <%= check_box_tag :wifi, '1', params[:wifi] %>
      <%= label_tag :wifi, "Public WiFi" %>
    </div>

    <div class='submit'>
      <%= submit_tag "Search" %>
    </div>
  <% end %>
</div>

<% if @venues %>
  <div id='venues_search_results'>
    <div id='list_description'>
      <% if @tag %>
        <h2>Showing <strong><%= @venues.size %></strong> venues tagged with <strong><%=h @tag %></strong></h2>
      <% else -%>
        <h2>
          <% if @venues.size == 0 -%>
            Sorry, there are no venues
          <% else -%>
            Showing <%= "all " if params[:all] %><strong><%= @venues.size %></strong> venue<%= @venues.size == 1 ? '' : 's' %>
          <% end %>
          <%= "matching &#8220;#{params[:query]}&#8221;" if params[:query].present? %>
          <%= "with public WiFi" if params[:wifi] %>
        </h2>
      <% end -%>
    </div>

    <ul>
      <% for venue in @venues %>
        <li>
          <%= link_to(cleanse(venue.title), venue_url(venue)) %>
          <% if venue.has_full_address? %>
            <p class='detail'><%= cleanse venue.full_address %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div id='venue_portal'>
    <div id='most_active'>
      <h3>Most Active</h3>
      <ul>
        <% for venue in @most_active_venues %>
          <li>
            <%= link_to(cleanse(venue.title), venue_url(venue)) %>
            <p class='detail'><%= venue.events_count %> events</p>
          </li>
        <% end %>
      </ul>
    </div>
    <div id='newest'>
      <h3>Newest</h3>
      <ul>
        <% for venue in @newest_venues %>
          <li>
            <%= link_to(cleanse(venue.title), venue_url(venue)) %>
            <p class='detail'>Added <%= time_ago_in_words(venue.created_at) %> ago</p>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="exports">
      <ul>
        <li><%= link_to 'List all venues', venues_path(:all => 1) %></li>
        <li><%= link_to 'View a big map', map_venues_path %></li>
      </ul>
      <h3>Export venues</h3>
      <ul>
        <li><%= link_to 'KML', '/venues.kml' %></li>
        <li><%= link_to 'JSON', '/venues.json' %></li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
