<div id="edit_venue">
	<h1><%= @record.title %></h1>
	<% form_for :venue, @record, :url => { :action => "edit" } do |f| %>
		<div>
			<label for="venue_title">Venue Name</label><br />
			<%= f.text_field :title %>
		</div>
		
		<div id="address">
			<p><label for="venue_street_address">Street Address</label><br />
				<%= f.text_field :street_address %></p>
			<p>
				<label for="venue_locality">City</label>
				<%= f.text_field :locality %>
				<label for="venue_region">State</label>
				<%= f.text_field :region, :size => 12 %>
				<label for="venue_postal_code">Zip</label>
				<%= f.text_field :postal_code, :size => 8 %>
			</p>
		</div>

		<div>
			<label for="venue_url">Web Link</label><br />
			<%= f.text_field :url %>
		</div>
		<div>
			<label for="venue_email">Email</label><br />
			<%= f.text_field :email %>
		</div>
		<div>
			<label for="venue_telephone">Telephone</label><br />
			<%= f.text_field :telephone %>
		</div>
		
		<div>
			<label for="venue_description">Description<span class="note">(HTML formatting allowed)</span></label><br />
			<%= f.text_area :description %>
		</div>
		<div>
			<label for="venue_tags">Tags<span class="note">(comma separated keywords)</span></label><br />
			<input type="text" name="venue_tags" value="" id="venue_tags">
		</div>
		<p><input type="submit" value="save"></p>
	<% end %>
</div>