<div class='calendar'>
  <div class='month clearfix'>
    <!-- How do you make RoR spit out a link without generating an a tag? -->
    <%= link_to root_path(date: @date.prev_month), class: 'button' do %>
      <i class='chevron chevron'></i> Prev Month
    <% end %>
    <!-- <a href="?date=<%= @date.prev_month %>" class='button'><i class='chevron chevron'></i> Prev Month</a> -->
    <div class='month-name-container'>
      <span class='month-name'><%= @date.strftime("%B"); %></span> <span class='year'><%= @date.strftime("%Y") %></span>
    </div>

    <%= link_to root_path(date: @date.next_month), class: 'button' do %>
      Next Month <i class='chevron chevron--direction-right'></i>
    <% end %>
    <!-- <a href="?date=<%= @date.next_month %>" class='button'>Next Month <i class='chevron chevron--direction-right'></i></a> -->
  </div>
  <script>
    $(function() {
      $('td .no-events').parent('td').addClass('no-events');
    });
  </script>
  <% if events_this_month? %>
    <%= calendar @date do |date| %>
      <div class='date'>
        <span class="monthname"><%= date.strftime('%b') %></span>
        <span class="daynumber"><%= date.day %></span>
        <span class="yearnumber"><%= date.strftime('%Y') %></span>
      </div>
      <% if (events=events_for_date(date,@events)).any? %>
        <ul>
          <% events.each do |event| %>
            <li>
              <% if event.organization.present? %>
                <%=link_to(event.organization_title, event.organization, :class => 'organization-name') %><br />
              <% end %>
              <%= link_to event.title, event, :class => "event-title" %>
              <div class='event-time'>
                <span class='event-start-time'><%= event.start_time.strftime("%I:%M %p") %></span> - <span class='event-end-time'><%= event.end_time.strftime("%I:%M %p") %>
              </span>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class='no-events'>
      <% end %>
    <% end %>
  <% else %>
    <div class='no-events'>
      <p>No events this month.</p>
    </div>
  <% end %>
</div>

