<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= yield :open_graph_tags %>
    <title>
      <%= "#{yield(:title)} » ".html_safe if content_for?(:title) -%>
      <%= Calagator.title -%>: <%= Calagator.tagline -%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel='search' type='application/opensearchdescription+xml' href='<%= "#{root_path}opensearch.xml" %>'  title='<%= Calagator.title %>' />

    <!-- Stylesheets, static -->
    <%= stylesheet_link_tag 'application', :media => :all %>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.ie.css" />
    <![endif]-->

    <!-- Stylesheets, inserted  -->
    <%= yield :css_insert %>

    <!-- JavaScripts, static -->
    <%= javascript_include_tag *mapping_js_includes %>
    <%= javascript_include_tag 'application' %>

    <!-- JavaScripts, inserted -->
    <%= yield :javascript_insert %>

    <!-- Auto-discovery, static -->
    <%= auto_discovery_link_tag(:atom, events_url(:format => 'atom'), :title => 'Atom: All Events' )%>

    <!-- Auto-discovery, inserted -->
    <%= yield :discovery_insert %>

    <%# FIXME extract icon into theme %>
    <link rel="apple-touch-icon" href="<%= image_path("site-icon.png") %>" />
  </head>
  <body class="<%= "#{controller.controller_name}_#{action_name}" %> <%= "#{controller.controller_name}_controller" %> <%= %w[new create edit update].include?(action_name) ? "#{controller.controller_name}_change" : "" %>">

    <div id="outer">
      <%= render partial: 'layouts/calagator/header' %>
      <%= render partial: 'layouts/calagator/content' %>
      <%= render partial: 'layouts/calagator/footer' %>
    </div>

    <%= render partial: 'layouts/calagator/after_footer' %>
  </body>
</html>

