<strong><%= link_to item.title, object %></strong> : Version <%= item.version %>; 
<%= item.updated_at.strftime('%B %d, %Y at %I:%M %p') %>

<% unless item.version==1 %>
  <table class='changeset'>
    <thead>
      <th class='field_name'><span>Field</span></th>
      <th>Old</th>
      <th>New</th>
    </thead>
    <tbody>
  <% 
  object.version_diff(item.version, :prev).each do |field_name, values| 
    next if %w(updated_at).include?(field_name)
  %>
    <tr><td class='field_name'><%= field_name %></td><td><%= values[0] %></td><td><%= values[1] %></td></tr>
  <% end %>
  </tbody>
  </table>
<% end %>