<% tabindex_on '#search_field' %>

<% cache(CacheObserver.daily_key_for("site_index", request)) do %>
<% @times_to_events ||= @times_to_events_deferred.call %>
<div id="homepage_sidebar">
  <div id="project_description">
    <%= render :partial => "description" %>
  </div>

  <div id="tagcloud">
    <h2>Popular tags</h2>
    <%= @tagcloud_items_deferred.call.map{ |item| 
          tag_link(:event, item[:tag], "tagcloud_level_#{item[:level]}") 
        }.join('<span class="spacer"> &middot; </span>') -%>
  </div>
</div>

<div id="whats_happening">
  <h1>What's happening?</h1>
  <div id='coming_events'>
    <h3>Today</h3>
      <%= render 'events/list', :events => @times_to_events[:today], :dates => false %>
    <h3>Tomorrow</h3>
    <%= render 'events/list', :events => @times_to_events[:tomorrow], :dates => false %>
  </div>
  <div id='recently_added_events'>
    <h3>Next two weeks</h3>
    <%= render 'events/list', :events => @times_to_events[:later] %>
  </div>
  <div id='recently_added_events'>
    <h3><%= link_to("View future events &raquo;", events_path(:anchor => "event-#{@times_to_events[:more].id}")) if @times_to_events[:more] %></h3>
  </div>
</div>
<% end %>
