<% focus_on '#search_field' %>
<% cache(Cacher.daily_key_for("site_index")) do %>
<% @times_to_events ||= @times_to_events_deferred.call %>
<div id="project_description">
<h2>Hi there.</h2>
<p class='first'>Calagator is an all-volunteer effort to provide a unified calendar for technical communities and user groups in Portland, Oregon. Anyone can contribute information by importing, creating and editing entries.</p>

<p>You can also read our project news <%= link_to 'blog', blog_path %>, participate in <%= link_to 'discussions', forum_path %>, and report <%= link_to 'issues', issues_path %>. This site's <%= link_to 'software', code_path %> is all open-source and we're always looking for new people to join us in making the best calendar aggregator possible.</p>
</div>

<div id="whats_happening">
	<h1>What's happening?</h1>
	<div id='coming_events'>
		<h3>Today</h3>
	  	<%= render :partial => 'events/list', :locals => {:events => @times_to_events[:today], :dates => false} %>
		<h3>Tomorrow</h3>
		<%= render :partial => 'events/list', :locals => {:events => @times_to_events[:tomorrow], :dates => false} %>
	</div>
	<div id='recently_added_events'>
		<h3>Next two weeks</h3>
	  <%= render :partial => 'events/list', :locals => {:events => @times_to_events[:later]} %>
	</div>
</div>
<% end %>
