<%= content_for :title, @organization.title %>

<% tabindex_on '#search_field' %>

<% content_for :discovery_insert do %>
  <link rel="alternate" type="application/x-wiki" title="Edit this page" href="<%= edit_organization_url(@organization) %>" />
<% end %>

<div class="single_organization contentbar">
  <a href="#" id="organization_sidebar_toggle" class="expander_toggle">Export or edit this organization...</a>
  <div id="organization_sidebar" class='single_view_right sidebar'>
    <% if current_admin || current_organization == @organization %>
      <div id='edit_link'>
        <p>
          You can <%= link_to "edit", edit_organization_url(@organization) %>
          or <%= link_to "delete", organization_url(@organization), :method => :delete, :confirm => "Are you sure?" %>
          this organization.
        </p>
      </div>
      <hr />
    <% end %>
    <p>Download an <%= link_to "iCalendar file", organization_url(@organization, :format => :ics) %> or
    <%= link_to "subscribe to a feed", organization_url(@organization, :format => :ics, :protocol => "webcal") %> of events at this organization.</p>
    <hr />
    <div class="metadata">
      <%= datestamp(@organization) %>
    </div>
  </div>

  <div class="location vcard">
    <% if @organization.logo.url.present? %>
        <span class='org-logo'><%= image_tag @organization.logo.url %></span>
    <% end %>
    <h1 class="fn org"><%= @organization.title %></h1>
    <% if @organization.volio_url.present? %>
        <span class='volio'><%= link_to '(View on Volio)', @organization.volio_url, target: '_blank' %></span>
    <% end %>
    <% if current_admin %>
      <% login_url = organization_login_url(@organization.permalink) %>
      <h4>Private login link: <%= link_to(login_url, login_url) %></h4>
      <%= button_to 'Generate new link',  organization_regenerate_permalink_url(@organization), method: :put, class: 'regenerate', confirm: "Are you sure you want to replace this link?" %>
    <% end %>

    <div class='info'>
      <% if @organization.description.present? %>
        <div class='description'><%= format_description(@organization.description) %></div>
      <% end %>

      <% if @organization.url.present? %>
        <div class='url'><%= link_to(truncate(url_for(@organization.url), :length => 60), url_for(@organization.url), :rel => "nofollow") %></div>
      <% end %>

      <% if @organization.email.present? %>
        <div class='email'><%= mail_to @organization.email %></div>
      <% end %>

      <% if @organization.telephone.present? %>
        <div class='tel'><%= @organization.telephone %></div>
      <% end %>
    </div>
  </div>

  <% if @organization.tags.present? -%>
    <div class="tags">
      <h2>Tags</h2>
      <%= tag_links_for @organization %>
    </div>
  <% end %>

  <div id='events'>
    <div id='future_events'>
      <h2>Future events happening here</h2>
      <%= render :partial => 'events/list', :locals => { :events => @organization.future_events } %>
    </div>

    <div id='past_events'>
      <h2>Past events that happened here</h2>
      <%= render :partial => 'events/list', :locals => { :events => @organization.past_events } %>
    </div>
  </div>
</div>
