<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= cleanse(@page_title ? "#{@page_title} &raquo; " : "") %>Calagator: Portland's Tech Calendar</title>
    <%# Do NOT add caching to files within "/css" because they're dynamically-generated and cached through action caches in SiteController %>
    <%= stylesheet_link_tag "/css/base" %>
    <%= yield :css_insert %>
    <%= javascript_include_tag  'jquery-1.2.3.min.js',
                                'jquery-ui',
                                'jquery-fx',
                                'jrails',
                                :cache => true %>
    <%= javascript_include_tag 'application'%>
    <%= yield :javascript_insert %>
    
    <%= yield :discovery_insert %>
    <%= auto_discovery_link_tag(:atom, formatted_events_url('atom'), :title => 'Atom: All Events' )%>
  </head>
  <body>
