<html>
  <head>
    <title>Calagator<%= @page_title ? " - #{@page_title}" : "" %></title>
    <%= javascript_include_tag :defaults %>
    <%= active_scaffold_includes %>
  </head>
  <body>
    <p>Calagator: <%= link_to "Home", root_path %> | <%= link_to "Events", events_path %> | <%= link_to "Venues", venues_path %></p>

    <%= yield %>
  </body>
</html>
