<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= @page_title ? "#{@page_title} &raquo; " : "" %>Calagator: Portland's Tech Calendar</title>
	<%= stylesheet_link_tag "blueprint/screen" %>
	<%= stylesheet_link_tag "blueprint/print", :media => 'print' %>
	<!--[if IE]><%= stylesheet_link_tag "blueprint/lib/ie" %><![endif]-->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults, :cache => true %>
    <%= active_scaffold_includes %>
		<%= calendar_date_select_includes %>
		
		<%= auto_discovery_link_tag(:atom, formatted_events_url('atom'), :title => 'Atom: All Events' )%>
  </head>
  <body>
    <div id="top_menu">

	  <%
		link_class = {
			:home =>   current_page?(:controller => 'home') ? 'active first' : 'first',
			:import => !current_page?(:controller => 'sources') || 'active',
			:events => !current_page?(:controller => 'events') || 'active',
			:venues => !current_page?(:controller => 'venues') || 'active',
		}
	  %>

     <div id='app_menu'>
	    <span id='project-title'>Calagator</span>
		<ul>
	      <li><%= link_to "Home", root_path, {:class => link_class[:home] } %></li>
		    <li><%= link_to "Import", sources_path, {:class => link_class[:import] } %></li>
		    <li><%= link_to "Events", events_path, {:class => link_class[:events] } %></li>
		    <li><%= link_to "Venues", venues_path, {:class => link_class[:venues] } %></li>
		</ul>
    </div>
      <div id='project_menu'>
		<ul>
      		<li><%= link_to "Blog", blog_path, {:class => 'first'} %></li>
      		<li><%= link_to "Forum", forum_path %></li>
      		<li><%= link_to "Code", code_path %></li>
      		<li><%= link_to "Issues", issues_path %></li>
		</ul>
      </div>
    </div>

    <div id="top_content">
      <%# flash[:success] = "yay"; flash[:failure] = "meh" %>
      <%= render_flash %>
      <%= yield %>
    </div>

    <div id="top_footer">
      Calagator.org <%= source_code_version %>
    </div>

		<% if ENV['RAILS_ENV']=='production' 
		# TODO move the analyitcs key into a configuration file.
		%>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-168427-7");
		pageTracker._initData();
		pageTracker._trackPageview();
		</script>
		<% end %>
		
  </body>
</html>
